.App {
  text-align: center;
}

.Calendar {
  border: 1px solid white;
  margin: 7.5vh auto;
  width: 75vw;
  height: 85vh;
    header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 2px solid white;
    h2 {
      color: white;
    }
  }
  .Days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-gap: 10px;
    box-sizing: border-box;
    height: 200px;
    width: 100%; 
    padding: 0 10px;
    
    .DayOfWeek {
      min-height: 25px;
      color: white;
      padding: 0;
      margin-bottom: 0;
    }
    
    .Date {
       border: 1px solid white;
       min-height: 25px;
       line-height: 25px;
       color: white;
       padding: 5px;
       margin: 0;
    }
    
    .CurrentDay {
      color: red;
    }
  }
}

.DateView {
  h2 {
    color: white;
    padding: 15px;
  }
}